<table>
    <tr>
        <td>
            <p>Ian Carlo Melchor Santos</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae consequatur aut est ab eligendi sapiente harum repellendus a. Id dolores perspiciatis tenetur molestiae minima dignissimos at! Voluptates, molestias recusandae!</p>
       
        </td>
        <td>
            <ul>
                <li>iancarlomelchorsantos&#64;gmail.com</li>
                <li>2712900012</li>
                <li>Fortin, Veracruz</li>
                <li>&#64;SpectacularCharly</li>
            </ul>
        </td>
    </tr>
</table>>
